body{
	background-color:rgba(255, 255, 255, 0.631) ;
}
header{
    margin-top: 5%;
}
.encabezado nav ul{
	list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    text-align: center;
}

.encabezado nav ul li {
	display: inline; /* Hace que los elementos de la lista se muestren en línea */

}
.encabezado nav ul li a {
	font-family: Arial;
	font-size: 20px;
    display: inline-block; /* Hace que los enlaces se comporten como bloques en línea */
    padding: 10px 20px; /* Añade espacio alrededor del texto para mejorar la apariencia */
    text-decoration: none;
    color: black;
}
.encabezado nav ul li a:hover {
    background-color: #ccc; /* Cambia el color de fondo al pasar el cursor */
    border-radius: 50px;
}
.f16 {
	margin:20px 100px;
	height: 620px;
	width: 1100px;
	background-image: url(../img/bandera.jpg);
	background-repeat: no-repeat;/* Evita que la imagen de fondo se repita */
	background-size: cover; /* Hace que la imagen de fondo cubra todo el tamaño del div tambien esta cover */

}

.f16 p  {
	position: absolute; /* Establece el posicionamiento absoluto para el párrafo */
    top: 90%; /* Lo posiciona en la parte inferior del div */
    left: 10%; /* Lo posiciona en la parte izquierda del div */
    padding: 10px; /* Añade un poco de espacio alrededor del texto */
    /*background-color: rgba(255, 255, 255, 0.7);Fondo semitransparente para mejorar la legibilidad */
    transform: translateY(50%); /* Centra verticalmente el párrafo */
    font-size: 30px;
    color: rgb(73, 71, 71);
}
.f16 h1{
	position: absolute; /* Establece el posicionamiento absoluto para el párrafo */
    top: 75%; /* Lo posiciona en la parte inferior del div */
    left: 10%; /* Lo posiciona en la parte izquierda del div */
    padding: 10px; /* Añade un poco de espacio alrededor del texto */
    /*background-color: rgba(255, 255, 255, 0.7);  Fondo semitransparente para mejorar la legibilidad */
    transform: translateY(50%); /* Centra verticalmente el párrafo */
    font-size: 50px;
    color: rgb(83, 81, 81);
    font-family: Arial, sans-serif;
}
/* Contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si es necesario */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 1rem; /* Espacio entre las tarjetas */
}

/* Tarjetas individuales */
.card {
    flex: 1 1 calc(25% - 1rem); /* Ajusta el ancho de las tarjetas (25% es un ejemplo) */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto de la tarjeta */
    margin: 0.5rem; /* Margen entre tarjetas */
}

.card img {
    width: 100%;
    height: auto;
}
.main{
    width: 75%;
    height: 75%;
    background: #ffffff6f;
    display: inline-block;  
    
}
.main .gestion{
    display: inline-block;
    text-align: center;
}
    /*height: 100vh;  vh= viewport height y vw viewport width*/

.main .gestion img{
    width: 200px;
    height: 200px;
    margin: 15px 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.main .gestion img:hover{
    transform: scale(1.1);/* Escala la imagen al 110% de su tamaño original */
    transition: transform 0.3s; /* Agrega una transición suave al efecto */
}
aside{
    display: block; /* Asegura que el aside sea tratado como un bloque en línea */
    float: right;
    width: 25%;
    background-color: #161f26;
    padding: 20px;
    color: #fff;
    height:75%;
    clear: right; /* Asegura que el aside termine antes del footer */
   }
   aside .widget .titulo{
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
    margin-bottom: 15%;
   
   }
   aside .widget ul{
       margin-bottom: 20%;
   }
   aside .widget ul li{
       border-bottom: 1px solid  rgba(255, 255, 255, 0.886);
       padding-top: 5px ;
   }
   aside .widget ul li a{
      color: #FFFf;
      text-decoration: none;
   }  
   footer{
    clear: both; /* Evita que el footer se superponga a los elementos flotantes */
    height: 10%;
    color: #FFF;
    background-color: #000;
    text-align: center;
    line-height: 50px;
    margin-top: auto;
  } 