/*Estilo del cuerpo de la página y su correspondiente imagen de fondo*/
body {
    background: url('../img/11.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
/* Estilo de la imagen de login de la página */
img {
    margin: auto;
    height: auto;
    width: 200px;
    display: block;
    border-radius: 50px;
}
.form-label{
	color: black;
}
.mb-3,h1{
	border-radius: 15px;
}
/* Estilo de la tabla */
.table {
    border-radius: 50px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    max-width: 600px;
}
/* Estilo del pie de página */
footer {
    clear: both;
    color: black;
}
input, select, textarea {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: black !important;
}
form h1, form label {
    color: white;
}
.botones{
	border-radius: 15px;
}
button {
    width: 100px;
}


